route:
  receiver: default
  group_by: ['alertname']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 4h
  routes:
  - match:
      severity: P0
    receiver: pagerduty
  - match:
      severity: P1
    receiver: slack

receivers:
- name: default
  webhook_configs:
  - url: 'http://alert-relay.default.svc/alerts'
- name: pagerduty
  pagerduty_configs:
  - routing_key: '${PAGERDUTY_ROUTING_KEY}'
- name: slack
  slack_configs:
  - api_url: '${SLACK_WEBHOOK_URL}'
    channel: '#alerts'
    send_resolved: true
